<div class="col-8">
  <div class="card border-0 shadow p-3">
    <div class="form-floating mb-3 text-center">
      <h5 class="text-center text-warning">Wallet</h5>
    </div>
    <div class="mb-3">
      <p class="fw-bold">Balance: {{ balance }}</p>
    </div>
    <div class="form-floating mb-3">
      <input type="number" class="form-control" id="topUpAmount" name="topUpAmount" [(ngModel)]="topUpAmount">
      <label for="topUpAmount">Top Up Amount</label>
    </div>
    <button type="button" class="btn btn-outline-success" (click)="topUp()">Top Up</button>
    <br>
    <div class="form-floating mb-3">
      <input type="number" class="form-control" id="withdrawAmount" name="withdrawAmount" [(ngModel)]="withdrawAmount">
      <label for="withdrawAmount">Withdraw Amount</label>
    </div>
    <button type="button" class="btn btn-outline-danger" (click)="withdraw()">Withdraw</button>
  </div>

</div>
