<!-- cart.component.html -->

<div class="containerz">
  <h2>My Cart</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Image</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of cartProducts">
        <td>{{ product.product_name }}</td>
        <td><img src="{{ product.image_url }}" alt="Product Image" style="max-width: 50px;"></td>
        <td>{{ product.price | currency: 'USD' }}</td>
      </tr>
    </tbody>
  </table>
</div>
