<h1>Dashboard</h1>
<div class="card">
    <div class="card-head">Lorem ipsum - dashboard</div>
    <div class="card-body">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas ducimus soluta, quasi aut ipsa non, ullam enim rem repudiandae, vitae provident animi. Inventore rerum, voluptas optio dignissimos blanditiis modi illo!
    </div>




</div>
<div class="filter-container">
  <mat-form-field appearance="outline">
    <mat-label>Select Session</mat-label>
    <mat-select [(value)]="selectedSession" placeholder="Select Session">
      <mat-option *ngFor="let session of sessions" [value]="session">
        {{ session }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Select Course</mat-label>
    <mat-select [(value)]="selectedCourse" placeholder="Select Course">
      <mat-option *ngFor="let course of courses" [value]="course">
        {{ course }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Select Time Category</mat-label>
    <mat-select [(value)]="selectedTimeCategory" placeholder="Select Time Category">
      <mat-option *ngFor="let timeCategory of timeCategories" [value]="timeCategory">
        {{ timeCategory }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="onFilter()">Filter</button>
</div>


